:root {
    --light: #f8f8ff;
    --light-a: #e6f3ff;

    --dark: #242d35;
    --dark-a: #1b3254;

    --c1: #ffd700;
    --c1-a: #bfa300;
    --c1-b: #403600;
    --c1-c: #ffe471;

    --c2: #0057b7;
    --c2-a: #004c9e;
    --c2-b: #0072d8;
    --c2-c: #0092ff;
    --c2-d: #001b38;
    --c2-e: #93c2e5;

    --c3: #ff4400;
    --width: clamp(24rem, 84vw, 150rem);
    --header-height: clamp(5rem, calc(7vh + 7vw), 8rem);
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    cursor: default;
}

body,
button,
input,
textarea,
select {
    font-family: 'Golos Text', sans-serif;
}

body {
    background-color: var(--light);
    color: var(--dark-a);
    position: relative;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: unset;
}

img {
    user-select: none;
    max-width: 100%;
    height: auto;
    width: auto;
}

.mobile_hidden {
    display: none;
}

::selection {
    color: var(--light);
    background-color: var(--dark);
}

/* ::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

::-webkit-scrollbar-track {
    background: var(--c3);
}

::-webkit-scrollbar-thumb {
    background: white;
} */

main {
    position: relative;
    z-index: 1;
    flex: 1;
}

button {
    background-color: transparent;
    outline-color: transparent;
    border: unset;
    padding: unset;
    font-family: inherit;
    -webkit-tap-highlight-color: transparent;
}

button:focus-visible {
    outline: 0.1rem solid transparent;
}

button:not([type="submit"]):focus-visible {
    outline: 0.1rem solid transparent;
}

.flex {
    display: flex;
}

.icon {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.width {
    width: var(--width);
}

textarea {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 8rem;
    max-height: 30rem;
}


ul,
ol {
    padding: unset;
}




















/* Custom */


.strip {
    width: 100%;
    background-color: var(--c2-a);
    height: 3rem;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.strip>.width {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.strip .bg.icon {
    background-size: 50%;
    background-position: center;
    height: 100%;
    transition: background-color 0.4s ease;
}

.strip .bg.icon.tel {
    margin-right: 1rem;
}

.strip .bg.icon:hover,
.strip a:hover .icon {
    background-color: var(--c2);
    transition: background-color 0s ease;
}

.strip a,
.strip a .icon {
    min-width: 3rem;
    height: 2rem;
}

.strip a span {
    font-weight: 400;
    font-size: clamp(1rem, 3.5vw, 1.2rem);
    color: var(--light-a);
    letter-spacing: 0.1rem;
    line-height: 1;
}

.strip .flex {
    /* gap:1rem; */
    align-items: center;
    height: 100%;
}

.strip .flex hr {
    /* width: 0.2rem; */
    height: 100%;
    background-color: var(--c2-b);
    border: unset;
    border-left: 0.1rem solid var(--c2);
}

.bg.icon.tel {
    background-image: url(../assets/icons/tel.svg);
}

.bg.icon.facebook {
    background-image: url(../assets/icons/facebook.svg);
}

.bg.icon.instagram {
    background-image: url(../assets/icons/instagram.svg);
}

.bg.icon.mail {
    background-image: url(../assets/icons/mail.svg);
}









header {
    width: 100%;
    height: var(--header-height);
    background-color: rgb(248 248 255 / 95%);
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    backdrop-filter: blur(0.3rem);
    /* border-bottom: 0.2rem solid var(--light-a); */
    box-shadow: 0 2.5rem 1rem -2rem rgb(147 194 229 / 15%);
}

header>.width {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex: 1;
}

header .flex {
    align-items: center;
}

header .logo_anchor {
    height: 100%;
    width: clamp(11rem, calc(12vh + 12vw), 17rem);
    min-width: clamp(11rem, calc(12vh + 12vw), 17rem);
}

header .logo_anchor img {
    height: 100%;
}

.nav_overflow {
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0.1rem;
    width: 23rem;
    height: 45rem;
    transform: translateY(100%);
    pointer-events: none;
}

header nav {
    position: absolute;
    right: 0;
    background-color: var(--c2-a);
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 2rem 7rem 2rem 3rem;
    color: var(--light);
    border-radius: 0 0 0 1rem;
    box-sizing: border-box;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);
    max-height: 70vh;
    overflow: auto;
    background-image: linear-gradient(170deg, #ffffff22, transparent 62%);
    font-size: clamp(1.4rem, 5vw, 1.8rem);
}

header nav.show {
    transform: translatex(0%);
}

header nav a {
    padding: 1.3rem 0.2rem;
    position: relative;
}

header nav a:not(:last-child)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.1rem;
    width: 20%;
    background-color: var(--c2-c);
}

header .cta {
    background-color: var(--c1);
    font-weight: 700;
    color: var(--c2);
    white-space: nowrap;
}

.cta_ctnr {
    display: flex;
    align-items: center;
    gap: clamp(1.5rem, 2vw, 2.1rem);
    font-weight: 600;
    max-width: 100%;
}

.cta_ctnr a:not(.cta) {
    font-size: 1.6rem;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cta {
    border-radius: 0.6rem;
    font-size: clamp(1.2rem, 4.2vw, 1.6rem);
    padding: clamp(1rem, 3.5vw, 1.5rem) clamp(0.9rem, 5vw, 3rem);
    height: fit-content;
    line-height: 1;
    width: fit-content;
    outline-offset: -0.3rem;
    /* outline: 0.1rem solid #f8f8ff44; */
    text-align: center;
    background-image: linear-gradient(170deg, #ffffff66, transparent 62%);
    transition: filter 0.3s ease;
    letter-spacing: 0.03rem;
}

.cta:hover {
    filter: brightness(1.1)
}

.hambt {
    position: absolute;
    right: 0;
    width: clamp(1.3rem, 5vw, 3.5rem);
    height: clamp(2.5rem, 7vw, 3.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hambt div {
    height: 20%;
    width: 100%;
    background-color: var(--c2);
    border-radius: 0.2rem 0 0 0.2rem;
}


.vishyvka {
    width: 100%;
    height: 2.5rem;
    background-image: url(../assets/vyshyvka.svg);
    background-position: center;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-color: var(--light);
}




















/* Form defaults */


form {
    margin: 0 auto 2rem;
    display: flex;
    flex-direction: column;
    /* gap: clamp(2rem, 2vw, 4rem); */
    font-size: 1.45rem;
    justify-content: space-evenly;
    width: 100%;
}

form label {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    font-weight: 500;
    line-height: 1.4;
}

input,
textarea,
select {
    padding: clamp(0.8rem, 1vw, 1rem);
    border-radius: 0.6rem;
    border: unset;
    background-color: #E8E8F9;
    font-size: 1em;
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

input[type='date'],
input[type='time'] {
    line-height: 2.4;
    padding: unset;
    text-indent: clamp(0.8rem, 1vw, 1rem);
}

form button[type='submit'] {
    display: block;
    margin: 0 auto;
    font-size: 1.6rem;
    background-color: var(--c2-b);
    color: var(--light);
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.6rem;
    margin-top: clamp(2rem, 8vw, 3.5rem);
    letter-spacing: 0.1rem;
    cursor: pointer;
}






























@media (min-width:800px) {

    header>.width {
        gap: 2rem;
    }

    header .flex {
        gap: clamp(1rem, calc(4vw - 4rem), 3rem);
        justify-content: space-between;
        width: 50vw;
    }

    .hambt {
        position: relative;
        right: unset;
    }

    .hambt div {
        border-radius: 0.2rem;
    }

}



@media (min-width: 1080px) {

    header .flex {
        flex-direction: row-reverse;
        width: unset;
    }

    .hambt,
    header nav .jobs {
        display: none;
    }

    .nav_overflow {
        position: relative;
        bottom: unset;
        width: unset;
        height: 100%;
        transform: unset;
        right: unset;
        pointer-events: unset;
    }

    header nav {
        position: relative;
        transform: unset;
        background-color: unset;
        color: var(--c2);
        flex-direction: row;
        font-weight: 500;
        overflow: unset;
        padding: unset;
        gap: clamp(0rem, calc(3vw - 4rem), 0.6rem);
        height: 100%;
        align-items: center;
        /* width: clamp(5rem, calc(98vw - 50rem), 82rem); */
        width: unset;
        right: unset;
        top: unset;
        white-space: nowrap;
        display: inline-flex;
        background-image: unset;
    }

    header nav a {
        font-size: clamp(1.4rem, 1.4vw, 1.7rem);
        padding: 1rem clamp(0.4rem, calc(4vw - 3.7rem), 1.8rem);
        transition: background-color 0.3s ease;
        background-color: transparent;
        display: inline-block;
        align-items: center;
        border-radius: 0.3rem;
        white-space: nowrap;
    }

    header nav a:hover {
        background-color: white;
        transition: background-color 0s ease;
    }

    header nav a:not(:last-child)::after {
        display: none;
    }


}


















@media (min-width:1920px) {
    html {
        font-size: 11px;
    }
}

@media (min-width:2440px) {
    html {
        font-size: 13px;
    }
}

@media (min-width:3000px) {
    html {
        font-size: 16px;
    }
}

@media (min-width:4000px) {
    html {
        font-size: 22px;
    }
}