html {}

.strip {
    width: 100%;
    background-color: var(--c2-a);
    height: 3rem;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.strip>.base_width {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.strip .bg.icon {
    background-size: 50%;
    background-position: center;
    height: 100%;
    transition: background-color 0.4s ease;
}

.strip .bg.icon.tel {
    margin-right: 1rem;
}

.strip .bg.icon:hover,
.strip a:hover .icon {
    background-color: var(--c2);
    transition: background-color 0s ease;
}

.strip a,
.strip a .icon {
    min-width: 3rem;
    height: 2rem;
}

.strip a span {
    font-weight: 400;
    font-size: clamp(1rem, 3.5vw, 1.2rem);
    color: var(--light-a);
    letter-spacing: 0.1rem;
    line-height: 1;
}

.strip .flex {
    /* gap:1rem; */
    align-items: center;
    height: 100%;
}

.strip .flex hr {
    /* width: 0.2rem; */
    height: 100%;
    background-color: var(--c2-b);
    border: unset;
    border-left: 0.1rem solid var(--c2);
}

.bg.icon.tel {
    background-image: url(../assets/icons/tel.svg);
}

.bg.icon.facebook {
    background-image: url(../assets/icons/facebook.svg);
}

.bg.icon.instagram {
    background-image: url(../assets/icons/instagram.svg);
}

.bg.icon.mail {
    background-image: url(../assets/icons/mail.svg);
}









header {
    width: 100%;
    height: var(--header-height);
    background-color: rgb(248 248 255 / 95%);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 2;
    backdrop-filter: blur(0.3rem);
    /* border-bottom: 0.2rem solid var(--light-a); */
    box-shadow: 0 2.5rem 1rem -2rem rgb(147 194 229 / 15%);
}

header>.base_width {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

header .flex {
    align-items: center;
}

header .logo_anchor {
    height: 100%;
    width: clamp(11rem, calc(12vh + 12vw), 17rem);
    min-width: clamp(11rem, calc(12vh + 12vw), 17rem);
}

header .logo_anchor img {
    height: 100%;
}

.nav_overflow {

overflow: hidden;

position: absolute;

right: 0;

bottom: 0.1rem;

width: 23rem;

height: 40rem;

transform: translateY(100%);

pointer-events: none;
}

header nav {
    position: absolute;
    right: 0;
    background-color: var(--c2-a);
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 2rem 7rem 2rem 3rem;
    color: var(--light);
    border-radius: 0 0 0 1rem;
    box-sizing: border-box;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);
    max-height: 70vh;
    overflow: auto;
    background-image: linear-gradient(170deg, #ffffff22, transparent 62%);
}

header nav.show {
    transform: translatex(0%);
}

header nav a {
    padding: 1.3rem 0.2rem;
    position: relative;
    font-size: clamp(1.4rem, 5vw, 1.8rem);
}

header nav a:not(:last-child)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.1rem;
    width: 20%;
    background-color: var(--c2-c);
}

header .cta {
    background-color: var(--c1);
    font-weight: 700;
    color: var(--c2);
    white-space: nowrap;
}

.cta {
    border-radius: 0.6rem;
    font-size: clamp(1.2rem, 5vw, 1.6rem);
    padding: clamp(1rem, 3vw, 1.5rem) clamp(0.9rem, 5vw, 3rem);
    height: fit-content;
    line-height: 1;
    width: fit-content;
    outline-offset: -0.3rem;
    /* outline: 0.1rem solid #f8f8ff44; */
    text-align: center;
    background-image: linear-gradient(170deg, #ffffff66, transparent 62%);
    transition: filter 0.3s ease;
}

.cta:hover {
    filter: brightness(1.1)
}

.hambt {
    position: absolute;
    right: 0;
    width: clamp(1.3rem, 5vw, 3.5rem);
    height: clamp(2.5rem, 7vw, 3.5rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hambt div {
    height: 20%;
    width: 100%;
    background-color: var(--c2);
    border-radius: 0.2rem 0 0 0.2rem;
}


.vishyvka {
    width: 100%;
    height: 2.5rem;
    background-image: url(../assets/vyshyvka.svg);
    background-position: center;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-color: var(--light);
}

















main {}

section.intro {
    /* min-height: 100rem; */
    background-color: var(--c1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(3rem, 5vw, 6rem) 0 clamp(3rem, 5vw, 5rem) 0;
    position: relative;
}

.intro>.ctnr {}

h1 {
    font-size: clamp(2.1rem, calc(1.8vh + 2vw), 4.6rem);
    line-height: 1.4;
    margin-bottom: 1.2rem;
    font-weight: 700;
}

h1 strong {
    color: var(--c2);
    background-color: var(--c1-c);
    font-weight: inherit;
}

.intro h2 {
    font-weight: 500;
    font-size: clamp(1.4rem, 3.3vmin, 1.7rem);
    line-height: 1.45;
    margin-bottom: 2rem;
    /* max-width: 59rem; */
}

.intro h2 strong {
    font-weight: 600;
    color: var(--c2);
}

.cta_ctnr {
    display: flex;
    align-items: center;
    gap: clamp(1.5rem, 2vw, 2.1rem);
    font-weight: 600;
}

.intro .cta_ctnr .cta {
    /* background-color: var(--light); */
    color: var(--c2);
    border: 0.2rem solid var(--light);
    box-shadow: -0.3rem 0.3rem var(--c1), -0.7rem 0.7rem #fff8;
    background-color: var(--c1);
}

.cta_ctnr a:not(.cta) {
    font-size: 1.6rem;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.intro .cta_ctnr a:not(.cta)::after {
    content: '';
    position: relative;
    right: 0;
    top: 0;
    display: block;
    transform: translateY(-10%) rotate(45deg);
    width: 0.4rem;
    height: 0.4rem;
    border-right: 0.2rem solid var(--dark);
    border-bottom: 0.2rem solid var(--dark);
}

.intro .base_width>.ctnr {
    display: flex;
    flex-flow: row wrap;
    gap: clamp(2rem, 4vmax, 4rem);
    justify-content: left;
    position: relative;
}

.intro .base_width>.ctnr .content {
    max-width: 66rem;
    flex: 1;
    min-width: 24vw;
}

.intro video {
    width: 100%;
    height: clamp(30rem, calc(27vw + 27vh), 60rem);
    object-fit: cover;
    object-position: left;
    border-radius: clamp(1.5rem, 5vw, 4rem);
    margin-bottom: calc(clamp(30rem, calc(30vw + 30vh), 60rem) * -0.5);
    max-width: clamp(30rem, 80vw, 60rem);
    /* border: 0.2rem solid var(--light); */
    margin-inline: auto;
    max-height: 80vh;
    z-index: 1;
    clip-path: inset(1px 1px);
    position: sticky;
}

.intro .bottom_wave {
    background-image: url(../assets/bottom_wave.svg);
    width: 100%;
    height: 10vw;
    background-size: 100%;
    background-position: top;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    background-repeat: no-repeat;
    box-shadow: 0 -0.3rem var(--c1);
}

/* .intro .flag {
    position: absolute;
    width: clamp(8rem, 25vw, 14rem);
    bottom: 7rem;
    right: -0.7rem;
    z-index: 1;
} */





















section.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(14rem, 55vw, 23rem) 0 clamp(9rem, 10vw, 13rem);
    position: relative;
    scroll-margin: calc(clamp(14rem, 55vw, 23rem) * -0.5);
}

.services .base_width {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: clamp(3rem, 3vw, 4rem); */
    z-index: 1;
    width: clamp(24rem, 95vw, 150rem);
}

h2+.txt {
    text-align: center;
    font-size: clamp(1.4rem, 3.6vmin, 1.55rem);
    margin: 1rem auto 3rem;
    line-height: 1.5;
    width: 90%;
    max-width: 100%;
}

.services h2+.txt {
    font-weight: 500;
    max-width: 87rem;
}

.testimonials h2+.txt {
    color: var(--light-a);
    font-weight: 300;
    max-width: 64rem;
    margin-bottom: 0;
    width: 86%;
}

.testimonials h2+.txt strong,
.testimonials h2+.txt b {
    font-weight: inherit;
    color: var(--c1);
}


.services .txt b,
.services .txt strong {
    font-weight: 600;
    color: var(--c2);
}

.services .txt p {
    margin-bottom: 1rem;
}

.services h2 {
    text-align: center;
    font-size: clamp(2rem, 9vw, 5rem);
    color: var(--c2);
    font-weight: 700;
}

.services .splash1,
.services .splash2 {
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
}

.services .splash1 {
    background-image: url(../assets/splash01.svg);
    left: 0;
    top: clamp(6rem, 10vw, 15rem);
    width: clamp(5rem, 50vw, 55rem);
    height: clamp(5rem, 50vw, 55rem);
    background-position: left;
}

.services .splash2 {
    background-image: url(../assets/splash02.svg);
    bottom: -4rem;
    width: clamp(5rem, 50vw, 55rem);
    height: clamp(5rem, 50vw, 55rem);
    background-position: right;
    right: 0;
}

.services .ctnr {
    display: flex;
    flex-flow: row wrap;
    gap: clamp(2rem, 9vw, 3.5rem);
    align-content: center;
    justify-content: center;
    width: 100%;
}

.services .box {
    position: relative;
    padding: 2.8rem 2.8rem;
    box-sizing: border-box;
    background-color: var(--light-a);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    border-radius: 1.6rem;
    min-width: clamp(15rem, calc(33vh + 20vw), 32rem);
    max-width: clamp(15rem, calc(33vh + 20vw), 32rem);
    /* max-width: 85vw; */
    /* min-height: clamp(20rem, 75vw, 38rem); */
    justify-content: space-between;
    /* max-width: 30rem; */
    /* flex: 1; */
    box-shadow: 0 2.5rem 1rem -2rem rgb(147 194 229 / 40%);
}

.services .box .price {
    font-size: clamp(2.2rem, 6vmin, 2.7rem);
    color: var(--c2-b);
    display: block;
    text-align: right;
    font-weight: 600;
    line-height: 1.1;
}

.services .box .price sub {
    display: block;
    font-weight: 500;
    font-size: clamp(1.4rem, 3.5vw, 1.5rem);
    color: var(--c2-c);
}

.services .tooltip {}

.services .box .tooltip p {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    inset: 0;
    top: 2.6rem;
    right: 0.6rem;
    background-color: var(--light-a);
    padding: 1.5rem;
    box-sizing: border-box;
    height: fit-content;
    margin: 0 2rem 0 auto;
    font-size: clamp(1.3rem, 3.5vw, 1.4rem);
    border-radius: 0.6rem 0 0.6rem 0.6rem;
    transition: opacity 0.3s 0.2s ease, visibility 0.3s 0.2s ease, transform 0.3s 0.2s ease;
    transform: translateY(-0.5rem);
    font-weight: 500;
    color: var(--dark-a);
    border: 0.1rem solid var(--c2-e);
    box-shadow: 0 1.2rem 1rem -1rem var(--c2-e);
    z-index: 2;
    max-width: 42rem;
    width: 87%;
}

.services .box .tooltip p::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-top: 0.7rem solid var(--c2-e);
    border-right: 0.7rem solid var(--c2-e);
    border-left: 0.7rem solid transparent;
    border-bottom: 0.7rem solid transparent;
}

.services .box .tooltip button {
    width: 1.8rem;
    height: 1.8rem;
    background-image: url(../assets/icons/tooltip.svg);
    background-size: 18%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 1.1rem;
    right: 1.1rem;
    border: 0.1rem solid var(--c2-e);
    /* padding: 0.8rem; */
    box-sizing: border-box;
    border-radius: 0.4rem;
    background-color: var(--light);
    cursor: help;
    transition: border-color 0.3s ease;
}

.services .box.highlight {
    border: 0.2rem solid var(--c2-c);
}

.services .box .tooltip button:hover {
    border-color: var(--c2-a);
    transition: border-color 0.05s ease;
}

.services .box .tooltip:hover p,
.services .box .tooltip:focus p {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.1s ease, visibility 0.1s ease, transform 0.1s ease;
}

.services .box h3 {
    font-size: clamp(2.2rem, 6vmin, 2.7rem);
    color: var(--c2-b);
    width: 100%;
    margin-bottom: 1rem;
}

.services .box h3 svg {
    width: 2.1rem;
    height: 2.6rem;
    margin-right: 0.5rem;
}

.services .box p {
    color: var(--dark-a);
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 1rem;
    font-size: clamp(1.4rem, 3.5vw, 1.5rem);
}

.services .box p b,
.services .box strong {
    color: var(--c2-b);
    font-weight: 600;
}

.services .box a {
    width: 100%;
    text-align: center;
    background-color: var(--c2-b);
    font-weight: 500;
    color: var(--c1);
    box-sizing: border-box;
}

.services .box::after {
    content: '';
    position: absolute;
    bottom: -0.4rem;
    left: 0;
    right: 0;
    width: 38%;
    height: 0.8rem;
    background-color: var(--c1);
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 0 -0.7rem 0 0.7rem var(--light-a);
}



















section.about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    padding: clamp(7rem, 18vmax, 14rem) 0 0;
    background-color: var(--c2-e);
}

.about video {
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    object-position: top;
}

.about .base_width {
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.about .base_width .ctnr {
    width: clamp(10rem, 85vw, 58rem);
    border-radius: 1.2rem;
    background-color: rgb(230 243 255 / 85%);
    /* max-height: 80vh; */
    padding: clamp(2.6rem, 6vw, 3.5rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 0.2rem solid var(--light);
    /* box-shadow: 0 2rem 5rem -2.3rem var(--c1-c); */
    backdrop-filter: blur(0.6rem);
}

.about .cta_ctnr {

    margin-top: 1rem;
}

.ctnr {}

.about h2 {
    font-size: clamp(2rem, 7.5vw, 3.8rem);
    color: var(--c2-b);
    font-weight: 700;
}

.about h2 strong {

    color: var(--c2-c);
}

.about .base_width p {
    font-size: clamp(1.3rem, 3.8vw, 1.7rem);
    font-weight: 500;
    line-height: 1.5;
}

.about p strong,
.about p b {
    color: var(--c2);
    font-weight: inherit;
}

.about .cta {
    background-color: var(--c2-b);
    color: var(--light);
    font-weight: 500;
    letter-spacing: 0.06rem;
}

.about .cta_ctnr a:not(.cta) {
    font-size: clamp(1.4rem, 2vw, 1.5rem);
    color: var(--dark-a);
    letter-spacing: 0.06rem;
    flex: 1;
    font-weight: 500;
}









.about .social_impact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(4rem, 12vw, 7rem) 0;
    background-color: rgb(230 243 255 / 85%);
    width: 100%;
    z-index: 1;
    backdrop-filter: blur(0.4rem);
    margin-top: clamp(6rem, 12vmax, 14rem);
    scroll-margin: var(--header-height);
}

.social_impact h2 {
    /* text-align: center; */
    font-size: clamp(2rem, 9vw, 5rem);
    color: var(--c2-b);
    font-weight: 700;
    margin-bottom: 2rem;
}

.about .social_impact p {
    font-size: clamp(1.3rem, 3.8vw, 1.8rem);
    margin-bottom: 1rem;
    line-height: 1.5;
    font-weight: 500;
    max-width: 83rem;
}










section.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-margin: var(--header-height);
}

.testimonials .base_width {
    width: 100%;
}

.testimonials .base_width .ctnr {
    padding: clamp(6rem, 17vw, 8rem) 0 clamp(4rem, 12vw, 5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--c2-a);
    background-image: linear-gradient(90deg, #fff1, transparent 15%, transparent 85%, #fff1);
}

.testimonials h2 {
    font-size: clamp(2rem, 9vw, 4.5rem);
    color: var(--c1);
    font-weight: 600;
    text-align: center;
    margin-bottom: 0.5rem;
    position: relative;
}

.testimonials h2::before {
    content: '';
    background-image: url(../assets/icons/star.svg);
    width: clamp(1rem, 30vw, 11rem);
    height: calc(clamp(1rem, 30vw, 11rem) / 6);
    background-repeat: repeat-x;
    background-repeat: space;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -2rem;
}

.testimonials .slider {
    display: flex;
}

.testimonials .slider div {
    /* width: 50rem; */
    /* height: 40rem; */
    /* background-color: #fff2; */
}


.testimonials .tns-outer {
    width: 100%;
}

.testimonials .tns-item {}

.testimonials .slider .box {
    /* padding: clamp(0.6rem, 3vw, 2rem); */
    box-sizing: border-box;
    color: var(--light);
    transition: opacity 1.5s ease;
    cursor: grab;
}

.testimonials .slider .box:not(.tns-slide-active) {
    opacity: 0.1;
}

.testimonials .slider .box>.flex {
    flex-direction: column;
    gap: 2rem;
    width: clamp(10rem, 80vw, 65rem);
    margin: 0 20vw;
}

.testimonials blockquote {
    font-size: clamp(1.2rem, 3.6vw, 1.7rem);
    margin: unset;
    font-weight: 300;
    line-height: 1.6;
    color: var(--light-a);
    letter-spacing: 0.03rem;
}

.testimonials blockquote.short {
    font-size: clamp(1.2rem, 4.6vw, 2.5rem);
}

.profile {
    font-size: clamp(1.4rem, 4vw, 2rem);
    display: flex;
    gap: clamp(2rem, 3vw, 4rem);
    align-items: center;
    font-weight: 500;
    position: relative;
    justify-content: flex-start;
    width: fit-content;
    user-select: none;
    padding-top: 3rem;
}

.profile>.flex {
    align-items: center;
}

.profile .photo {
    width: clamp(7rem, 25vw, 17rem);
    height: clamp(7rem, 25vw, 17rem);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    z-index: 1;
    background-color: var(--c2);
    box-shadow: 0.7rem 0.7rem 1.5rem #0002, -0.7rem -0.7rem 1.5rem #fff2;
    /* border: 0.2rem solid var(--c2); */
}

.profile .photo.p1 {
    background-image: url(../assets/testimonials/violando.jpg);
}

.profile .photo.p2 {
    background-image: url(../assets/testimonials/andrei.jpg);
}

.profile .photo.p3 {
    background-image: url(../assets/testimonials/placeholder03.jpg);
}

.profile .name {
    display: block;
    font-size: 2.1em;
}

.profile .location {
    color: var(--c2-c);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.profile .location::before {
    content: '';
    background-image: url(../assets/icons/location.svg);
    width: 1.3rem;
    height: 1.3rem;
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.profile hr {
    border: none;
    border-top: 0.3rem solid var(--c1);
    position: absolute;
    left: 4rem;
    right: 0;
    -webkit-mask-image: linear-gradient(90deg, transparent clamp(4rem, 11vw, 11rem), white 70%);
}

.testimonials .tns-nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: clamp(2rem, 3vw, 4rem);
}

.testimonials .tns-nav button {
    background-color: var(--c2);
    border-radius: 0.2rem;
    color: var(--light);
    font-weight: 500;
    font-size: 1.4rem;
    width: 3rem;
    height: 0.8rem;
    transition: background-color 0.6s ease;
}

.testimonials .tns-nav button:hover {
    background-color: var(--c2-b)
}

.testimonials button.tns-nav-active {
    background-color: var(--c2-c);
}

/* .testimonials .tns-controls {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.testimonials .tns-controls button {
    padding: 1rem 2rem;
    background-color: var(--c2-b);
    border-radius: 0.4rem;
    color: var(--light);
    font-weight: 500;
    font-size: 1.4rem;
} */









section.contact {
    display: flex;
    background-color: var(--c1);
    padding: 0 0 clamp(6rem, 10vw, 9rem);
    flex-direction: column;
    align-items: center;
    scroll-margin: var(--header-height);
}

.contact .base_width {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .ctnr {
    width: clamp(10rem, 85vw, 90rem);
    background-color: var(--light);
    border-radius: 3rem;
    padding: 4rem clamp(0.8rem, 5vw, 6rem) 3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 2.2rem 1.3rem -1.2rem rgb(191 163 0 / 50%);
}

.contact .ctnr::before {
    content: '';
    position: absolute;
    width: 14rem;
    height: 0.9rem;
    background-color: var(--c2-b);
    top: -0.45rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    border-radius: 2rem;
}

.contact h2 {
    text-align: center;
    font-size: clamp(2rem, 9vw, 4rem);
    color: var(--c2-b);
    font-weight: 700;
}

.contact .email_us {
    text-align: center;
    font-size: clamp(1rem, 3.5vw, 1.4rem);
    font-weight: 500;
    color: var(--c2-d);
    line-height: 1.8;
}

.contact .email_us a {
    color: var(--c2-b);
    font-weight: 600;
    background-color: var(--light-a);
    padding: 0.3rem 0;
    white-space: nowrap;
}


.contact form {
    margin: 0 auto 2rem;
    display: flex;
    flex-direction: column;
    /* gap: clamp(2rem, 2vw, 4rem); */
    font-size: 1.45rem;
    justify-content: space-evenly;
    width: 100%;
}

.contact .vishyvka {
    margin-bottom: clamp(6rem, 10vw, 7rem);
    position: sticky;
    top: var(--header-height);
    z-index: 1;
}

.contact h2+.txt {
    font-weight: 500;
    max-width: 60rem;
}

.contact h2+.txt b,
.contact h2+.txt strong {
    font-weight: 600;
}

.contact input,
.contact textarea,
.contact select {
    padding: clamp(0.8rem, 1vw, 1rem);
    border-radius: 0.6rem;
    border: unset;
    background-color: #E8E8F9;
    font-size: 1em;
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.contact input[type='date'],
.contact input[type='time'] {
    line-height: 2.4;
    padding: unset;
    text-indent: clamp(0.8rem, 1vw, 1rem);
}

.contact form .obs {
    line-height: 1.5;
    color: var(--c2);
    font-weight: 600;
    font-size: 0.9em;
    text-align: center;
    max-width: 27rem;
    margin: 0 auto;
}

.contact button[type='submit'] {
    display: block;
    margin: 0 auto;
    font-size: 1.6rem;
    background-color: var(--c2-b);
    color: var(--light);
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.6rem;
    margin-top: clamp(2rem, 8vw, 3.5rem);
    letter-spacing: 0.1rem;
    cursor: pointer;
}

.contact form>.flex {
    display: flex;
    flex-direction: column;
    width: clamp(10rem, 85vw, 30rem);
    gap: 2rem;
    width: 100%;
}

.contact form .content {
    display: flex;
    gap: clamp(2rem, 2vw, 4rem);
    flex-flow: row wrap;
    justify-content: center;
}

.contact form .content>div {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: clamp(10rem, 70vw, 37rem);
}

.contact form label {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    font-weight: 600;
    line-height: 1.4;
}

























@media (min-width:800px) {

    header>.base_width {

        gap: 2rem;

    }

    header .flex {
        gap: clamp(1rem, calc(4vw - 4rem), 3rem);
        justify-content: space-between;
        width: 50vw;
    }

    .hambt {
        position: relative;
        right: unset;
    }

    .hambt div {
        border-radius: 0.2rem;
    }


    section.intro {
        padding-bottom: 2rem;
    }

    /* .intro .flag {
        top: -4rem;
        bottom: unset;
        right: 1rem;
    } */

    .intro video {
        width: clamp(30rem, 41vw, 58rem);
        height: clamp(30rem, 59vw, 58rem);
        /* min-height: 65vh; */
    }

    section.services {
        padding-top: clamp(11rem, 14vw, 24rem);
    }

    .services .ctnr {
        max-width: 120rem;
        gap: clamp(1rem, 2vw, 3.5rem);
    }

    .services .box {
        transition: transform 0.7s 0.1s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.7s 0.1s cubic-bezier(0.4, 0, 0.2, 1);
        background-color: rgb(230 243 255 / 91%);
        backdrop-filter: blur(0.4rem);
    }

    .services .box a {
        background-color: var(--light);
        color: var(--c2-c);
        transition: color 0.7s ease, background-color 0.7s ease;
    }

    .services .box:hover {
        transform: translateY(-1rem) scale(1.02);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0 3.5rem 2rem -2rem rgb(147 194 229 / 30%);
    }

    .services .box:hover a {
        transition: color 0.3s ease, background-color 0.3s ease, filter 0.3s ease;
        color: var(--c1);
        background-color: var(--c2-b)
    }







    .profile {
        transform: translateX(calc((clamp(7rem, 25vw, 17rem) + clamp(2rem, 3vw, 4rem)) * -0.5));
    }

    .testimonials .slider .box:active,
    .testimonials blockquote p:active {
        cursor: grabbing;
    }

    .testimonials blockquote {
        margin-top: -3rem;
        transform: translateX(calc((clamp(7rem, 25vw, 17rem) + clamp(2rem, 3vw, 4rem)) * 0.5));
        user-select: none;
    }

    .testimonials blockquote p,
    .testimonials .slider .box {
        cursor: grab;
    }

    .testimonials .stars {
        margin-bottom: -2rem;
    }
}























@media (min-width:1080px) {


    header .flex {
        flex-direction: row-reverse;
        width: unset;
    }

    .hambt {
        display: none;
    }

    .nav_overflow {
        position: relative;
        bottom: unset;
        width: unset;
        height: 100%;
        transform: unset;
        right: unset;
        pointer-events: unset;
    }

    header nav {
        position: relative;
        transform: unset;
        background-color: unset;
        color: var(--c2);
        flex-direction: row;
        font-weight: 500;
        overflow: unset;
        padding: unset;
        gap: clamp(0rem, calc(3vw - 4rem), 0.6rem);
        height: 100%;
        align-items: center;
        /* width: clamp(5rem, calc(98vw - 50rem), 82rem); */
        width: unset;
        right: unset;
        top: unset;
        white-space: nowrap;
        display: inline-flex;
        background-image: unset;
    }

    header nav a {
        font-size: clamp(1.4rem, 1.4vw, 1.7rem);
        padding: 1rem clamp(0.4rem, calc(4vw - 3.7rem), 1.8rem);
        transition: background-color 0.3s ease;
        background-color: transparent;
        display: inline-block;
        align-items: center;
        border-radius: 0.3rem;
        white-space: nowrap;
    }

    header nav a:hover {
        background-color: white;
        transition: background-color 0s ease;
    }

    header nav a:not(:last-child)::after {
        display: none;
    }


    .services .ctnr {
        max-width: unset;
        flex-flow: row;
    }

    .services .box {
        min-width: unset;
        max-width: 34rem;
    }
}